[Unit]
Description=Drachtio SIP Server
After=network.target syslog.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/drachtio

{% if cloud_provider == 'aws' %}
ExecStartPre=/bin/sh -c 'export LOCAL_IP=$(curl -s http://169.254.169.254/latest/meta-data/local-ipv4)'
ExecStartPre=/bin/sh -c 'export PUBLIC_IP=$(curl -s http://169.254.169.254/latest/meta-data/public-ipv4)'
ExecStart=/usr/local/bin/drachtio --contact sip:${LOCAL_IP};transport=udp,tcp --external-ip ${PUBLIC_IP} --address 0.0.0.0
{% elif cloud_provider == 'gcp' %}
ExecStartPre=/bin/sh -c 'export LOCAL_IP=$(curl -s -H "Metadata-Flavor: Google" http://metadata.google.internal/computeMetadata/v1/instance/network-interfaces/0/ip)'
ExecStartPre=/bin/sh -c 'export PUBLIC_IP=$(curl -s -H "Metadata-Flavor: Google" http://metadata.google.internal/computeMetadata/v1/instance/network-interfaces/0/access-configs/0/external-ip)'
ExecStart=/usr/local/bin/drachtio --contact sip:${LOCAL_IP};transport=udp,tcp --external-ip ${PUBLIC_IP} --address 0.0.0.0
{% elif cloud_provider == 'azure' %}
ExecStartPre=/bin/sh -c 'export LOCAL_IP=$(curl -s -H "Metadata:true" "http://169.254.169.254/metadata/instance/network/interface/0/ipv4/ipAddress/0/privateIpAddress?api-version=2017-08-01&format=text")'
ExecStartPre=/bin/sh -c 'export PUBLIC_IP=$(curl -s -H "Metadata:true" "http://169.254.169.254/metadata/instance/network/interface/0/ipv4/ipAddress/0/publicIpAddress?api-version=2017-08-01&format=text")'
ExecStart=/usr/local/bin/drachtio --contact sip:${LOCAL_IP};transport=udp,tcp --external-ip ${PUBLIC_IP} --address 0.0.0.0
{% else %}
ExecStart=/usr/local/bin/drachtio --contact sip:0.0.0.0;transport=udp,tcp --address 0.0.0.0
{% endif %}

Restart=always
RestartSec=5
TimeoutStopSec=15

User=root
Group=daemon

# Resource Limits
LimitCORE=infinity
LimitNOFILE=100000
LimitNPROC=60000
LimitRTPRIO=infinity
LimitRTTIME=7000000
IOSchedulingClass=realtime
IOSchedulingPriority=2
CPUSchedulingPolicy=rr
CPUSchedulingPriority=89
UMask=0007

[Install]
WantedBy=multi-user.target


